

body{
	background-color: black;
}
#myname{
	height: 92px;
	width: 100%;
	background-color: #ffffff;
	border-bottom: 3px solid #cccccc;
	}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #ffffff;
}

li {
    float: right;
}

li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

a:hover {
    background-color: orange;
}


h1{
	position: absolute;
	left: 150px;
	background: #3D7EFF;
	color: #feffff;
	margin: 10px;
	padding: 21px;
	width: 250px;
	font-family: "Georgia", "Times", "Times New Roman", serif;
	font-size: 40px;
	font-style: bold;


}

#links{
	position:absolute;
	top: 15px;
	right: 310px;


}

ul {
    color: grey;
    font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    }

#main{
	position: absolute;
	left: 150px;
	right: 650px;
	top: 115px;
	background-color: #ffffff;
	padding: 15px;
	margin-top: 20px
	font-weight: bold;


}

#paragraph{
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
	padding: 15px;
	line-height: 28px;
	letter-spacing: 1px;
}

#paragraph2{
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
	padding: 10px;
	line-height: 28px;
	letter-spacing: 1px;

}

#picfloat{
	float:left;
	margin-right: 15px;
	padding: 15px;
}



#connect{
	position: absolute;
	right: 300px;
	background-color: #ffffff;
	margin-top: 55px;
	width: 270px;
	text-align: center;
	height: 200px;
	padding-top: 15px;
	background-color: #ffffff;

}

.social{
	padding: 35px;



}


#foot {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7%;
    background-color: #B8B8B8;
    color: black;
    text-align: center;
    border-top: 10px solid gray;
    
}

h2{
	color: orange ;
	padding-bottom: 20px;
	font-family: "Georgia", "Times", "Times New Roman", serif;
	font-size: 28px;
}

.border{
	border-bottom: 3px solid black;
	padding: 0px;
	
	}

h3{
	color: orange;
	margin-right: 25px;
	margin-left: 25px;
	padding-bottom: 8px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 25px;
}

/* contact me page */

#contactme{
	background-color: #ffffff;
	width: 625px;
	color: #cccccc
	font-size:120%;
	font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
	padding:10px;
	margin:10px;
	position: absolute;
	left:150px;
}
form{
    padding-left:25px;
	padding-right: 25px;
}

.container{
	border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
}

input[type=submit] {
	background-color: #3D7EFF;
	width: 20%;
	resize: vertical;
	color: white;

}

/* portfolio section */

#portfolio {
	background-color: #ffffff;
	width: 625px;
	color: #cccccc
	font-size:120%;
	font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
	padding:10px;
	margin:10px;
	position: absolute;
	left:150px;
	height: 900px;

	}



.myprojects1{
	position: relative;
	background-color:orange;
	color: white;
	width: 230px;
	height: 30px;
	text-align: center;
	top: 175px;
	left: 5px;
	padding: 20px;
}


.myprojects2{
position: absolute;
	background-color:orange;
	color: white;
	width: 230px;
	height: 15px;
	text-align: center;
	top: 230px;
	left: 350px;
	padding: 20px;
}

.myprojects3{
position: relative;
	background-color:orange;
	color: white;
	width: 230px;
	height: 15px;
	text-align: center;
	top: 390px;
	left: 5px;
	padding: 20px;
}

.myprojects4{
position: relative;
	background-color:orange;
	color: white;
	width: 230px;
	height: 15px;
	text-align: center;
	top: 337px;
	left: 339px;
	padding: 20px;
}

.myprojects5{
position: relative;
	background-color:orange;
	color: white;
	width: 230px;
	height: 15px;
	text-align: center;
	top: 580px;
	left: 5px;
	padding: 20px;
}


#proj1{
	position: absolute;
	left: 15px;
	top: 75px;
	border: 3px solid gray;
	


	
	
}

#proj2{
	position: absolute;
	right: 45px;
	top:  75px;
	border: 3px solid gray;
	
	
}

#proj3{
	position: absolute;
	left: 15px;
	top: 350px;
    border: 3px solid gray;
	


}

#proj4{
	position: absolute;
	right: 45px;
	top: 350px;
    border: 3px solid gray;

	
	
}

#proj5{
	position: absolute;
	left: 15px;
	top:  650px;
	border: 3px solid gray;
}

a {
	color: white;
}
